<table class="table">
  <thead class="thead">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>

      <tr app-table-details
        id="1"
        username="User 1"
        email="test1@mail.com">
      </tr>
      <tr app-table-details
        id="2"
        username="User 2"
        email="test2@mail.com">
      </tr>

      <tr app-table-details
        id="3"
        username="User 3"
        email="test3@mail.com">
      </tr>

    </tbody>
</table>

